html, body {
    margin: 20px;
}

body {
  margin-bottom: 100px;
}

.navbar {
  background-color: lightgray;
}

#title {
	margin-left: 12px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
}
.active {
	font-weight: bold;
}

.reviews {

}

#authorName {
  color: red;
}

.map-canvas {
  width: 800px;
  height: 400px;
}

.truckImage img {
  width: 20%;
  max-width: 100px;
}
