<div>
  {{input type="text" placeholder="Name" value=name class="name-input"}}
  {{input type="text" placeholder="Description" value=description class="msg-input"}}
  {{input type="text" placeholder="pictureURL" value=pictureURL class="picture"}}
  <button {{action 'addTruck'}} class="submit">Submit</button>
</div>
