

<nav class="navbar navbar-default" role="navigation">
  <h2 id="title">Food Trucks</h2>
  <ul class="nav navbar-nav">
    <li>{{#link-to 'about'}}About{{/link-to}}</li>
    <li>{{#link-to 'trucks'}}Trucks{{/link-to}}</li>
  </ul>
</nav>


<div class="container">
  {{outlet}}
</div>
